:root {
  --font-logo: "Lobster", cursive;
  --font-nav-item: "Raleway", sans-serif;
  --nav-item-size: clamp(13px, 1.5vw, 25px);
  font-size: clamp(10px, 2vw, 20px);
}
body {
  width: 100vw;
}
.App {
  text-align: center;
}

.home {
  background-image: url("https://images.unsplash.com/photo-1540649967130-f25a37623f41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 120vh;
}
/* mainNavbar */
.navbar {
  background-color: transparent !important;
  height: 100px;
  margin: 0 !important;
}
.navbar * {
  color: white !important;
  max-width: 100%;
}

.logo {
  transform: translateY(40%);
  font-size: 40px;
  font-family: var(--font-logo);
}

.navbar .item {
  padding: 0 2vw !important;
  max-width: 15vw;
  font-family: var(--font-nav-item);
  font-size: var(--nav-item-size);
  font-weight: 700 !important;
}

.login-bar {
  width: 100vw;
  height: 25px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.login-bar * {
  color: white !important;
}

#content-box {
  margin: 5% 10%;
}
/* house selection */

section.house-section > .cards {
  margin: auto !important;
}

.column {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
/*Shopping List*/
.shop {
  text-align: left;
  margin-top: 1rem;
}
.shop .list,
.shop .side-list {
  background-color: transparent !important;
}
